/* Article*/

.artikelTitleWrapper{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
}

.artikelTitleWrapper::after{
  content: '';
  display: block;
  width: 200px;
  margin:auto;
  margin-top: 10px;
  border-bottom: 3px solid #045E18;
}
.card-article {
  flex-direction: row;
  width: auto;
}
.card-image {
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  width: 30%;
}

.artikelWrapper {
  background: #CCDBCC;
  position: relative;
  padding-bottom: 50px;
}

.card-title {
  font-weight: bold;
}

.card-title a{
  text-decoration: none;
  color: #045E18;
}

.artikel-container{
  max-width: 700px;
}
.artikelImage{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.artikelCardWrapper{
  flex-direction: row;
  width: inherit;
  width: 550px;
  border-radius: 20px;
}
.artikelCardParagraph{
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artikelCardTitle{
  height: 35px;
}

@media only screen and (max-width: 500px) {
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
    font-size: small;
  }

  .artikelCardTitle{
    font-size: 200;
  }

  .artikelCardParagraph{
    font-size: smaller;
  }
  .artikelCardAuthor{
    font-size: smaller;
  }
  .card img {
    width: 75%;
  }
  .artikelTitleWrapper::after{
    content: '';
    display: block;
    width: 50%;
    margin-top: 10px;
    border-bottom: 3px solid #045E18;
  }
}
@media only screen and (max-width: 1200px) {
  .artikelTitleWrapper{
    text-align: center;
  }
  .artikelTitleWrapper::after{
    margin: auto;
    margin-top: 10px;
  }
  .card img {
    width: 50%;
  }

  .artikelImage{
    height: 100px;
  }
  .artikelCardWrapper{
    width: 100%;
    height: 200px;
  }
  .artikelCardParagraph::after{
    content: '';
    display: block;
    width: auto;
    margin: auto;
    margin-top: 10px;
    border-bottom: 3px solid #045E18;
  }

  .card-body .card-text {
    margin: 0;
    font-size: small;
  }
}


/* End Article */